<div class="page-continer">
  <div class="map">
    <img src="./assets/images/yrw_address.PNG" width="98%"><br><br>
    <p>(Midland and Sheppard)</p>
  </div>


  <div class="page-title">办公地址	11A Glen Watford Drive, Suite 215, Scarborough, Ontario M1S 2B8 Canada</div>

  <div class="page-title">有线电话：	647-352-8388（不接受短信）</div>

  <div class="page-title">图文传真：	647-439-0792</div>

  <div class="page-title">电子邮件：	yu.alec@ryulegal.com</div>

  <div class="page-title">互联网址：	www.ryulegal.ca</div>

  <div class="page-title">微信代码：	yu4167075723</div>

  <div class="page-title">微信二维码</div>

  <div class="webchat">
    <img src="./assets/images/wba.png">
  </div>


  <p>由于于先生出庭和见客频繁，往往无法随时亲自接听电话，故敬请广大朋友扫描（或长按识别）添加于先生的微信，以文字沟通，建立直联，于先生会尽快回复您的询问。如果事务简单，于先生会尽快免费给出简要的回答，以满足您一时之需。</p>

  <p>如果问题复杂，案情曲折，于先生会尽快安排您前来办公室，进行详细咨询，或者深度电话（或微信语音）沟通。敬请以微信预约时间，以确保您能获得满意而完整的法律意见。</p>

  <p>您也可以填写在线表单，描述您的情形，于先生会以电子邮件方式尽快回复您。</p>

</div>
