<div class="page-continer">
  <div class="page-title">于戎伟，安省律师公会 · 法律顾问。</div>

  <p>1989年	毕业于天津南开大学国际商业学院（前身为天津对外贸易学院）。曾先后服务于中国国营进出口公司及大型民营企业，先后任合约分析师、驻北京首席代表，驻香港办事处法律顾问等要职。</p>

  <p>2000年	定居多伦多，曾先后任本地中小企业法律顾问、合约谈判代表等职务，与本地律师及顾问合作，为华人社区提供法律服务。</p>

  <p>2009年	毕业于Metro College，获Paralegal荣誉毕业证书。</p>

  <p>2010年	获安省律师公会认证，成为持牌法律顾问（Licensed Paralegal），同年受聘於Cohen, Sabsay LLP，任法律顾问。</p>

  <p>2013年	於士嘉宝创办于氏法律事务所，主要代理民用出租的纠纷事务。</p>

  <p>于先生常年活跃于社区，经常举办公益讲座，并做客加拿大华人电台（Fair Child）、加华视讯（WOW TV）、多伦多华语广播网（FM105.9）等媒体平台，以及各大微信群，为社区提供法律服务。</p>

  <p>于先生以严谨执业为标准要求自己，恪守执业准则，精通中、英文。于先生办案经验丰富，熟悉各类司法规，一直致力于为广大同胞提供可靠的法律服务。</p>

  <p>于先生运作着一间能够真正完全理解您的法律事务所，他理解中西文化和语言的差异，以及由此而引起的在法律领域中不可言喻的障碍与困惑。鉴于此，于先生做为通晓中文普通话以及标准英文，而且曾在中国执业多年的法律顾问，使您的案件得以迅速而且顺利的处理，最终使得当事人获得最大利益。</p>

</div>
