$web-page-width: 1280px;
$page-web-width: 1000px;
$page-ipad-width: 760px;
$page-mobile-width: 480px;

$base-color: #4d2926;
$nav-text-color: white;

$header-height-large: 158px;
$banner-height-large: 135px;
$logo-height-large: 125px;
$navi-bar-height-large: 33px;

$header-height-web: 143px;
$banner-height-web: 120px;
$logo-height-web: 115px;
$navi-bar-height-web: 28px;

$header-height-medium: 130px;
$banner-height-medium: 110px;
$logo-height-medium: 105px;
$navi-bar-height-medium: 25px;

$header-height-small: 119px;
$banner-height-small: 100px;
$logo-height-small: 95px;
$navi-bar-height-small: 24px;

$banner-background-color: #bcf3ed;
$page-background-color: #eaeee1;

$blog-lient-menu-width-float: 280px;
$blog-lient-menu-width-fixed: 350px;

$blog-title-height: 35px;
$blog-item-highlight: #65dce8;

.page-continer {
  width: 100%;
  background-color: $page-background-color;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;

  .page-title, .page-subtitle {
    font-weight: bold;
    margin-top: 0.7em;
    margin-bottom: 0.5em;
  }
}

.blog-list, .blog-list-float {
  z-index: 201;
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  background-color: lightgray;
  border-right: 4px solid $base-color;
  box-shadow: 3px 0px rgba(50, 50, 50, 0.5);

}

.blog-content {
  z-index: 100;
  float: right;
  display: inline-block;
  padding: 10px;
  padding-left: 20px;
  height: 100%;
}

@media only screen and (min-width: $page-web-width + 1) {
  .page-continer {
    padding: 15px;
    height: calc(100% - #{$header-height-large});
    top: $header-height-large;
    .page-title {
      font-size: 18pt;
    }
    .page-subtitle {
      font-size: 17pt;
    }
    ul li, p, .blog-bza {
      font-size: 16pt;
    }
    .blog-list {
      top: $header-height-large;
      width: $blog-lient-menu-width-fixed;
    }
    .blog-content {
      width: calc(100% - #{$blog-lient-menu-width-fixed});
    }
    .blog-list-float {
      display: none;
    }
    .select-blog {
      font-size: 1.6em;
    }
    .blog-item {
      font-size: 12pt !important;
    }
    .blog-list-float-container {
      height: calc(100% - #{$header-height-large} - #{$blog-title-height});
    }
  }
}

@media only screen and (max-width: $page-web-width) {
  .page-continer {
    padding: 12px;
    height: calc(100% - #{$header-height-web});
    top: $header-height-web;
    .page-title {
      font-size: 15pt;
    }
    .page-subtitle {
      font-size: 14pt;
    }
    ul li, p, .blog-bza {
      font-size: 13pt;
    }
    .blog-list {
      top: $header-height-web;
      width: $blog-lient-menu-width-fixed;
    }
    .blog-content {
      width: calc(100% - #{$blog-lient-menu-width-fixed});
    }
    .blog-list-float {
      display: none;
    }
    .select-blog {
      font-size: 1.6em;
    }
    .blog-item {
      font-size: 12pt !important;
    }

    .blog-list-float-container {
      height: calc(100% - #{$header-height-web} - #{$blog-title-height});
    }
  }
}

@media only screen and (max-width: $page-ipad-width) {
  .page-continer {
    padding: 9px;
    height: calc(100% - #{$header-height-medium});
    top: $header-height-medium;
    .page-title {
      font-size: 13pt;
    }
    .page-subtitle {
      font-size: 12pt;
    }
    ul li, p, .blog-bza {
      font-size: 11pt;
    }
    .blog-list {
      display: none;
    }
    .blog-content {
      width: 100%;
    }
    .blog-list-float {
      top: $header-height-medium;
      display: block;
      width: $blog-lient-menu-width-float;
    }
    .select-blog {
      font-size: 1.5em;
    }
    .blog-item {
      font-size: 10.5pt !important;
    }

    .blog-list-float-container {
      height: calc(100% - #{$header-height-medium} - #{$blog-title-height});
    }
  }
}

@media only screen and (max-width: $page-mobile-width) {
  .page-continer {
    padding: 7px;
    height: calc(100% - #{$header-height-small});
    top: $header-height-small;
    .page-title {
      font-size: 11pt;
    }
    .page-subtitle {
      font-size: 10pt;
    }
    ul li, p, .blog-bza {
      font-size: 9pt;
    }
    .blog-list {
      display: none;
    }
    .blog-content {
      width: 100%;
    }
    .blog-list-float {
      top: $header-height-small;
      display: block;
      width: $blog-lient-menu-width-float;
    }
    .select-blog {
      font-size: 1.4em;
    }
    .blog-item {
      font-size: 10pt !important;
    }
    .blog-list-float-container {
      height: calc(100% - #{$header-height-small} - #{$blog-title-height});
    }
  }
}
