<div class="page-continer">

  <div class="page-title">本事务所的主要执业范围：</div>
  <ul>
    <li><b>房东与租客纠纷</b>	代表房东或租客，在安省房东房客管理局，就各种《民用租务法》所涉及的问题出庭代理；</li>
    <li><b>法令执行</b>	 代表房东当事人，在安省高等法院法警执行处，安排驱逐程序；</li>
    <li><b>刑事抗辩</b>	 代表刑事控罪被告人，在安省刑事法庭，就家庭暴力、商场盗窃等案出庭抗辩；</li>
  </ul>

  <div class="page-title">最近房东房客管理局听证案例选编：</div>
  <ul>
    <li>租客恶意欠租，反诉房东未能及时修缮物业。以合理解释，配合大量第三方证据，获全额租金赔付，并说服听证委员驳回所有不实反诉。</li>
    <li>租客在物业内涉嫌使用违禁药品，骚扰其他租客。经若干次劝说不果，经申请，终获驱逐令。</li>
    <li>租客提前提出解约。未经房东同意弃租并逃匿，聘请私家调查员，查获租客新住址，并提起诉讼，后获部分赔偿。</li>
    <li>房东多次违法进入出租物业。扰乱租客生活，侵犯租客隐私，向房东房客管理局提出听证申请，租客获得合理赔偿。</li>
  </ul>

  <div class="page-title">最近安省刑事法庭（轻度犯罪）案例选编：</div>
  <ul>
    <li>涉及配偶和子女的家庭暴力案：与检控官讨论案发情形，被告人的特殊原因，及相关的家庭背景，获检控官承诺，以参加“情绪控制讲习班”为条件，获撤案，并获得“儿童保护协会”认可，停止追究过失，处理结果无犯罪记录。</li>
    <li>沃尔玛商场盗窃案：以非刑事控罪为处理方式。获撤案，无犯罪记录。</li>
    <li>米尔顿破坏案：指出警方“案情调查报告”中有重大矛盾，被告有大量证据表明无犯罪意图，无犯罪事实，经司法预审，检控官撤案。无犯罪记录。</li>
  </ul>

</div>
